* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);

    --white: #ffffff;
}

body {
    background: var(--dark-cyan);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 100vh;
    max-width: 100%;

    font-family: 'Kumbh Sans', sans-serif;
    font-family: 1rem;
}

main {
    width: 25rem;

    background: var(--white);
    border-radius: 8px;
    text-align: center;

    background-image: url(./images/bg-pattern-card.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}

main > img {
    border-radius: 50%;
    border: 3px solid var(--white);

    margin-top: 7rem;
}

#perfil {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
}

#perfil-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#perfil-content h2 {
    font-weight: 700;
    font-size: 1.25rem;
}

#perfil-content span {
    color: var(--dark-grayish-blue);
    font-weight: 400;
    font-size: 1.2rem;
}

#perfil p {
    color: var(--dark-grayish-blue);
    font-weight: 400;

    padding-top: 1rem;
}

#data {
    width: 100%;

    margin-top: 1rem;
    padding-top: 1rem;

    display: flex;
    justify-content: space-around;

    border-top: 1px solid var(--dark-gray);
}

.data-content {
    padding: 1.25rem 2rem;
}

.data-content h3 {
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;

    padding-bottom: 0.25rem;
}

.data-content span {
    color: var(--dark-gray);
    font-weight: 400;
    letter-spacing: 0.2rem;
}

.attribution {
    position: fixed;
    bottom: 0;
    text-align: center;
}

.attribution a {
    text-decoration: none;
    color: var(--very-dark-desaturated-blue);
}

.attribution a:hover {
    color: var(--dark-gray);
}

@media (max-width: 425px) {
    main {
        width: 24rem;
    }

    .data-content {
        padding: 1rem;
    }
}

@media (max-width: 375px) {
    main {
        width: 21rem;
    }

    main > img {
        border-radius: 50%;
        border: 3px solid var(--white);
    
        margin-top: 6rem;
    }

    .data-content {
        padding: 1rem;
    }
}